.adicontec-bg {
  background: var(--cor-0);
}

.adicontec {
  padding-top: 120px;
  padding-bottom: 120px;
}

.adicontec-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.adicontec-content h1 {
  margin-bottom: 20px;
}

.adicontec-content p {
  margin-bottom: 16px;
}

.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 72px;
  position: relative;
}

.mission-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.mission-item h2::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: var(--cor-p1);
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: -8px;
}

.mission-title h2::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: var(--cor-p1);
  border-radius: 100%;
  position: relative;
  top: 25px;
  left: -18px;
}

@media (max-width: 800px) and (max-width: 1024px) {
  .adicontec-content {
    grid-template-columns: 1fr;
  }
  .adicontec-content h1 {
    font-size: 3rem;
  }
  .font-2-xxl {
    position: relative;
    display: inline-block;
  }
  .adicontec-content h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--cor-p1);
  }
  .adicontec-content img {
    display: none;
  }
  .adicontec-content p {
    margin-bottom: 0px;
  }
  .mission {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .adicontec-content h1 {
    font-size: 2.5rem;
  }
  .mission {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .adicontec {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .adicontec-content h1 {
    font-size: 1.5rem;
  }
  .mission h2 {
    font-size: 24px;
  }
  .mission-item h2::before {
    width: 8px;
    height: 8px;
    top: 22px;
  }
}

@media (min-width: 375px) {
  .adicontec-content h1 {
    font-size: 2rem;
  }
  .adicontec-content h1::after {
    display: none;
  }
}
