.products-bg {
  background: var(--cor-6);
  box-shadow: inset 0px -40px var(--cor-0), inset 0px 0px var(--cor-0);
}

.products {
  margin-top: 120px;
}

.products-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-content ul {
  list-style: circle var(--cor-2);
  margin: 8px;
  margin-top: 16px;
}

.products-content ul li {
  margin-bottom: 8px;
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .products-bg {
    box-shadow: none;
  }
  .products {
    margin: 0 32px;
    padding: 60px;
  }
  .first-product {
    display: none;
  }
  .products-content h1 {
    font-size: 3rem;
  }
  #products-values {
    font-size: 1.2rem;
  }
  .products-content ul li {
    font-size: 1.2rem;
  }
  .hamb {
    display: none;
  }
}

@media (max-width: 768px) {
  .products {
    margin: auto;
    padding-top: 60px;
  }
  .first-product {
    display: none;
  }
  .products-content h1 {
    font-size: 1.9rem;
    text-decoration: underline;
  }
  .products-content span {
    font-size: 17px;
  }
  .products-content ul li {
    font-size: 16px;
  }
  .hamb {
    width: 152px;
    height: 182px;
  }
}

@media (max-width: 600px) {
  .products-content h1 {
    font-size: 1.7rem;
  }
  .products-content span {
    font-size: 16px;
  }
  #products-values {
    font-size: 15px;
  }
  .products-content ul {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) and (orientation: landscape) {
  .products-content h1 {
    font-size: 3.5rem;
  }
  .products-content ul li {
    font-size: 1.2rem;
  }
  .products-content span {
    font-size: 1.2rem;
  }
}
