.values-bg {
  background-color: var(--cor-1);
  box-shadow: inset 0px -40px var(--cor-0), inset 0px 40px var(--cor-0);
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 25px;
}

.values-content h2 {
  margin-top: 64px;
  text-transform: uppercase;
}

.values-content ul {
  margin: 20px;
  margin-top: 3rem;
  list-style: circle var(--cor-0);
}

.values-content ul li {
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.values-content span {
  font-size: 1.2rem;
}

@media (max-width: 800px) and (max-width: 1024px) {
  .values {
    grid-template-columns: 1fr;
    margin: 0 32px;
    padding-top: 60px;
  }
  .values-content h2 {
    margin-top: 32px;
    font-size: 2rem;
  }
  .values img {
    display: none;
  }
  .values-content ul li {
    font-size: 12px;
  }
  .values-content ul li span {
    font-size: 12px;
  }
}

/* @media (orientation: landscape) {
  .values-content h2 {
    margin-top: 32px;
  }
  .values-content ul {
    margin: 20px;
  }
  .values-bg {
    box-shadow: inset 0px -1px var(--cor-0), inset 0px 1px var(--cor-0);
  }
  .picture {
    align-self: center;
  }
} */
