.values-bg {
  background: var(--cor-1);
  box-shadow: inset 0px -40px var(--cor-0);
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.values-content h2 {
  margin-top: 64px;
  text-transform: uppercase;
}

.values-content ul {
  margin: 20px;
  margin-top: 16px;
  list-style: circle var(--cor-0);
}

.values-content ul li {
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.values-content span {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .values {
    grid-template-columns: 1fr;
  }
  .values-content h2 {
    margin-top: 32px;
    font-size: 2rem;
  }
  .values img {
    display: none;
  }
  .values-content ul li {
    font-size: 12px;
  }
  .values-content ul li span {
    font-size: 12px;
  }
}
